.attribution {
    font-size: 11px;
    text-align: center;
    
    
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
  /* ### Primary */
    --Error:hsl(0, 100%, 66%);
    --active_input:Linear gradient : hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
    /* ### Neutral */
    --White : hsl(0, 0%, 100%);
    --Light_grayish_violet: hsl(270, 3%, 87%);
    --Dark_grayish-violet: hsl(279, 6%, 55%);
    --Very_dark_violet: hsl(278, 68%, 11%);
    
}

body{
    width: 100%;
    height: 100vh;
    position: relative;
    background: silver;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 375px;
    background: var(--White);
}

.left_section{
    width: 100%;
    height: 250px;
    background-image: url(./images/bg-main-mobile.png);
    position: relative;
    background-position: cover;
    background-repeat: no-repeat;
}


.front_card img {
    width: 254px;
    height: 60%;
    position: absolute;
    top: 58%;
    right: 25%;
    background-position:contain;
    background-repeat: no-repeat;
    z-index:3;

}
.back_card img {
    width: 254px;
    height: 60%;
    position: absolute;
    top: 25%;
    left: 25%;
    background-position:contain;
    background-repeat: no-repeat;
}

.Card_section{
    padding: 1.5em;    
}

.form{
    margin-top: 4rem;
    display: block;
}

 
.input {
 margin-bottom: 15px;
}
.input label{
display: block;
margin-bottom: 5px;
font-size: 18px;
color: var(--Very_dark_violet);
}

input[type= "text"]{
    border-radius: 5px;
    padding: 10px;
    border: 1px solid var(--Light_grayish_violet);
    width: 100%;
}

::placeholder{
    color: var(--Dark_grayish-violet);
    opacity: 20%;
}

 input[type= "number"]{
    width: 80px;
    padding: 8px;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--Light_grayish_violet);
 }

 label{
    display: block;
    margin-bottom: 8px;
 }

 .input-row{
   display: flex;
   align-items: center;
   gap: 13px;
   width: 100%;
 }

 .btn{
    background-color: var(--Very_dark_violet);
    margin-top: 20px;
    padding: 13px 20px;
    text-align: center;
    border-radius: 10px;
    color: var(--White);
 }


 /* card-modle section */
 .modle-card{
    display: none;
    text-align: center;
    line-height: 34px;
    margin-top: 60px;
 }

 .modle-card  img{
    width: 60px;
    height: 60px;
    margin-bottom: 1.5rem;
 }

 .modle-card h1{
    font-weight: 500;
    margin-bottom: 1rem;
 }
 .modle-card p{
   color: var(--Dark_grayish-violet);
    margin-bottom: 1rem;
 }

 #btn_modle{
    margin-top: 3rem;
 }
